header{
    background-color: rgb(27, 27, 65);
}
h1{
    text-align: center;
    color: white;
}
.logo img{
    width: 150px;
    height: 150px; 
    border-radius:35% ;
}
.entete{
     position: relative;   /* Mettre en possition relative au parent pour faire boucher ces enfants*/

}
.entete input{    /* input de le bar de recherche*/
    width: 500px;
    align-items: left;
    height: 35px;
    border-radius: 10px;
    padding: 0 40px;
    
}
.entete img{
     width: 20px;
     position: absolute;  /*Faire bouger l'enfant dans le parent */
     left: 465px;              /* Metter en gauche*/
     top: 30%;        /* 50% du haut  */
     transform: translate(50%);      /* appliquer une tranmformation suivant y pour le mettre au milieu */
    

}