body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f9fc;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}


nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    text-decoration:none;
    color:#333;
    font-weight:500;
}

.btn-nav{
    background:#1e4db7;
    color:white;
    padding:8px 15px;
    border-radius:5px;
}

.about {
    padding: 60px 10%;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #1e3a5f;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.about-content h2 {
    color: #1e3a5f;
    margin-top: 20px;
}

.info-grid,
.values-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.info-grid p,
.values-grid p {
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-grid i,
.values-grid i {
    color: #2b7bb9;
}

.mission {
    margin-top: 10px;
    line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .info-grid,
    .values-grid {
        grid-template-columns: 1fr;
    }
}